<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/crypto/btc']">Bitcoin</a>
                </li>
                <li class="nav-item" *ngIf = "!appComponent.currentUser">
                    <a class="nav-link" [routerLink]="['/login']">Iniciar sesión</a>
                </li>
            </ul>
            <ul class="navbar-nav me-2 mb-2 mb-lg-0" *ngIf = "appComponent.currentUser.username">
                <li ngbDropdown class="nav-item dropdown">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{appComponent.currentUser.username}}
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu">
                        <li><a class="dropdown-item" (click)="signOut()">Cerrar Sesión</a></li>
                    </ul>
                </li>            
            </ul>
        </div>
    </div>
</nav>

<div *ngIf="appComponent.message" class="container-fluid">
    <div class="row">
        <div class="alert text-center {{appComponent.messageClass}} alert-dismissible fade show" role="alert">
            {{appComponent.message}}
            <button type="button" class="btn-close" (click)="appComponent.hideMessage()" aria-label="Close"></button>
        </div>
    </div>
</div>