<div class="container">
    <h2 class="text-center">¡Realizar estimaciones es ahora más fácil!</h2>
    <hr/>
    <p>
        <b>Crypto Forecasting</b> te ayuda a ver los valores en los cambios históricos que han tenido las crypto-monedas y 
        además muestra una predicción<i class="bi bi-asterisk"></i> para los próximos días.
    </p>
    <p><b>¡Con nuestro sistema de Machine Learning analizamos y realizamos predicciones futuras!</b></p>
    <p>
        A continuación se encuentra una imagen de demostración explicando los diferentes elementos de la gráfica para el 
        análisis de los precios de las crypto-monedas.
    </p>
    <div class="border">
        <img class="img-fluid" src="assets/img/graphExample.png">
    </div>
    <hr/>
    <h6><i class="bi bi-asterisk"></i>El sistema de predicción aún se encuentra en etapas de desarrollo, úselo con precaución.</h6>
</div>
