<div class="row">
    <div class="col"></div>
    <div class="col">
      <form (ngSubmit)="register()">
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" [(ngModel)]='user.email' class="form-control" id="email" aria-describedby="E-mail" name="email"/>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Usuario</label>
          <input type="text" [(ngModel)]='user.username' class="form-control" id="username" aria-describedby="Usuario" name="username"/>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" [(ngModel)]='user.password' class="form-control" id="password" name="password"/>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Repita contraseña</label>
            <input type="password" [(ngModel)]='password2' class="form-control" id="password2" name="password2"/>
          </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()">Registrar</button>
          </div>
          <div class="col form-text">
            ¿Tienes cuenta? <a class="link" routerLink="/login">Iniciar Sesión</a>
          </div>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>